/*main: #5E17EB*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  font-family: "Oswald", sans-serif;
  background-color: #c8dee0;
}

/*header section*/
header {
  width: 100%;
  background-image: url(Assets/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#5e17eb, #7c58c2);
  padding: 1rem 2rem;
}
.nav-logobox {
  height: 8rem;
}
.nav-logo {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 1.1px;
  border-bottom: 1px solid #c0dfdd;
  padding: 3px;
  transition: all 0.5s;
}
.nav-link:hover {
  background-color: #c0dfdd;
  color: #5e17eb;
  box-shadow: 0 1rem 2rem rgba(#000, 0.15);
  transform: translateY(-1px);
}
.header-main {
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}
.header-title {
  font-size: 4rem;
  color: #5e17eb;
  text-transform: uppercase;
  animation: slide 2s linear;
  font-weight: 500;
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(80%);
  }
  40% {
    transform: translateX(50%);
  }
  90% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
.header-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}
.header-card {
  height: 100%;
  width: 25rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  transition: 0.5s;
  animation: down 0.5s ease-in-out forwards;
}
@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.header-card:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  transform: translateY(-1.5rem) scale(1.03);
}
.header-card1 {
  background: #b1ddde;
}
.header-card2 {
  background: #fba79d;
}
.header-card3 {
  background: #fae053;
}
.header-card4 {
  background: #79d8a2;
}
.hearder-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.header-imagebox {
  width: 100%;
}
.header-card_number {
  font-size: 1.5rem;
  font-weight: 500;
  color: #5e17eb;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.header-card_icon {
  font-size: 2.5rem;
  color: #5e17eb;
}
.header-heading {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  gap: 10px;
  justify-content: center;
}
.header-card_text {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  font-weight: 500;
  text-transform: uppercase;
}
.btn {
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 10rem;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s;
  text-transform: uppercase;
  font-weight: 600;
}
.btn:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.no-display {
  display: none;
}
.header-warning {
  background-color: #5e17eb;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
/*main section*/
main {
  width: 100%;
  background-image: url(Assets/body-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  padding-top: 25rem;
}
.main-container_input {
  width: 75%;
  margin: 0 auto;
  background: linear-gradient(#5e17eb, #7c58c2);
  padding: 2rem;
}
.main-container_display {
  width: 75%;
  margin: 0 auto;
  background: linear-gradient(#5e17eb, #7c58c2);
  border-radius: 20px;
  padding: 2rem;
}
.main-container_display {
  margin-top: 2rem;
}
.t-input,
.t-input2,
.search {
  font-size: 1.5rem;
  color: #5e17eb;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  background-color: rgba(#fff, 0.5);
  outline: none;
  box-shadow: 0 1rem 2rem rgba(#000, 0.1);
  border-bottom: 3px solid #5e17eb;

  display: block;
  transition: all 0.3s;
}
.search {
  margin: 0 auto;
  display: block;
}
.t-input-red::placeholder {
  color: red;
}
.calender-title {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 5rem;
  margin-right: 1rem;
  margin-top: 1rem;
  display: inline-block;
}
.button-add,
.button-clear,
.button-update {
  margin-left: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
.display-btn_edit {
  padding: 1rem;
  cursor: pointer;
  background-color: rgb(70, 232, 70);
  border: none;
}
.display-btn_delete {
  padding: 1rem;
  cursor: pointer;
  background-color: rgb(241, 51, 63);
  border: none;
}
.display-icon {
  font-size: 2.5rem;
}

.display-table {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
.due,
.due2 {
  padding: 10px;
  font-size: 14px;
  border: 3px solid #5e17eb;
  border-radius: 20px;
  color: #28262c;
  cursor: pointer;
}
.inputs {
  display: flex;
}
.inputs-extra {
  display: block;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background: linear-gradient(#5e17eb, #7c58c2);
  padding: 2rem;
  width: 40rem;
  transform: translateX(140%);
  border-radius: 50%;
  text-align: center;
}
.no {
  display: none;
}
.line-through {
  text-decoration: line-through;
}
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s;
  backdrop-filter: blur(10px);
}
.content {
  width: 75%;
  background: linear-gradient(#5e17eb, #7c58c2);
  border-radius: 20px;
  display: table;
  transform: translate(20%, 220%) scale(1.1);
  transition: all 0.5s 0.2s;
}
.green {
  background-color: rgba(47, 147, 100, 0.84);
}
.input-text {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.message {
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.note {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10rem;
  margin-top: 1rem;
}

.button-close {
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  top: 5%;
  right: 2%;
  background: none;
  border: none;
  cursor: pointer;
}
